
.main {    
    height: 100vh;
    position: relative;
    /* background-image: url(https://data.whicdn.com/images/328404020/original.gif) ; */
    /* background-image: url(https://i.pinimg.com/originals/a2/e4/70/a2e4709301ba2486afe52696d031b5d9.gif); */
    /* background-image: url(https://i.pinimg.com/originals/6e/47/1a/6e471a2370d95b21fdbcff841b3613d7.gif); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.figure {
    height: 600px;
    width: 400px;
    position: absolute;
    border: 15px solid black;
    border-radius: 5%;
    background-color: black;
    left: 40%;
    align-items: center;
    bottom: 10%;
    top: 20%;
    box-shadow: 0 4px 8px 0 rgba(241, 238, 238, 0.2), 0 6px 20px 0 rgba(240, 236, 236, 0.19);

}

.shadow {
    transform: translateY(10%) perspective(100px) rotateX(6deg) scale(1, .4); 
    position: absolute;
    /* width: min(70%, 1000px); */
    width: 1000px;
    height: 20vh;
    bottom: 0;
    background-color: black;
    border-radius: 1%;
    background: radial-gradient(rgba(236, 236, 238, 0.8) 0px, transparent 10vh);
    pointer-events: none;
    animation: pulse 6s ease-in-out infinite;
    right: 15%;
}

.iphone-button{
    padding-bottom: 25px;
    background: transparent;
    border: transparent;
    color: #6F0B1D;
    position: relative;
    left: 14%; 
    align-items: center;
    text-align: center;
}

