*{
    font-family: 'Fugaz One', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Racing Sans One', cursive;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    align-content: center;
    align-items: center;
    background-position-x: 70%;
    height: 100vh;
    bottom: 100%;
}


.testgif {
    /* background-image: url(./img/intro.MOV); */
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    background-size: 300px;
}

.link-button {
    /* float: right; */
    padding-bottom: 25px;
    background: transparent;
    border: transparent;
    color: #6F0B1D;
    position: relative;
    float: right;
}

.link-button-R{
    padding-bottom: 25px;
    background: transparent;
    border: transparent;
    color: #6F0B1D;
    position: relative;
    float: left;
}

.sign-button {
    color: #6F0B1D;

}
/* head {   
} */

p {
    position: relative;
}

.para-img {
    float: right;
    position: relative;
}


#spider-img {
    justify-content: center;
    position: relative;
    height: 400;
    width: 1025;
    border: 15px black;
    z-index: 50;
    top: 5%;
    /* background-image: url(./profiles/SuperSoulmate.gif); */
    background-image: url(./profiles/tiltedAndrew2.jpg);
    background-position-x: 65%;
    background-position-y: 50%;
    background-size: 230px;
    background-repeat: no-repeat;
}

.hero {
    /* left: 50%;  */
    position: relative;
    justify-content: center; 
    height: 47%;
    width: 100%;
    /* background-position-x: 90%; */
    background-position-x: right;
    background-size: 380px;
    background-repeat: no-repeat;
    background-image: url(https://media.giphy.com/media/zsMARfkFl9cXu/giphy.gif);
    /* background-image: url(https://image.winudf.com/v2/image1/Y29tLmFtYXppbmdsd3AubmlnaHRjaXR5bHdwX3NjcmVlbl82XzE1NTEyODQ2NDdfMDA2/screen-6.jpg?fakeurl=1&type=.jpg);  */
}

.banner{
    background-color: #6F0B1D;
    
}
.figure {
    height: 30%;
    width: 20%;
    float: right;
}

aside{
    width: 35%;
    height:680px ;
    float: left;
    /* background-color: pink; */
}

article{
    height: 565px;
    width: 65%;
    float: right;
    top: 10%;
    bottom: 5%;
    position: relative;
}

.sign-up-para {
    height: 540px;
    width: 95%;
    position: relative;
    float: right;
    bottom: 1%;
    top: 1%;
    /* background-color: deepskyblue; */
}

section {
    top: 50%;
    height: 240px;
    width: 60%;
    float: right;
    /* background-color: #a44456; */
    position: relative;
}

.about {
    height: 240px;
    width: 90%;
    float: right;
    position: relative;
    bottom: 1%;
    top: 1%;
    /* background-color: #a44456; */
}

.figure1 {
    top: 10%;
    left: 11%;
    position: relative;
    width: 70%;
    border: 3px solid #b6b4b5;   
    border-radius: 3%;
}

.figure2 {
    top: 15%;
    left: 8%;
    position: relative;
    width: 60%;
    border: 3px solid #b6b4b5;   
    border-radius: 3%;
}

.figure3 {
    top: 20%;
    left: 3%;
    position: relative;
    width: 50%;
    border: 3px solid #b6b4b5;   
    border-radius: 3%;
}

footer{
    background-color: #6F0B1D;
    clear: both;
    color: white;
}

.container {
    position: relative;

}

.span {
    background-color: #6F0B1D;   
}

.navbar-text {
    color: #6F0B1D;
    font-size: x-large;
    background-image: linear-gradient(to right, transparent, #a44456, transparent);
}

.navbar-brand {
    /* font-size: xx-large; */
    font-size: 39px;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
} 